 body{
   background-color: #1E202B;
 }
 ::placeholder {
    color: rgb(207, 207, 207);
 
   }
 .inptbg{
   background-color: #1E202B !important;
 }  
   .nav-link {
      padding: 3px ;
   }
  .navbar-nav a {
       border: 2px solid transparent;
   border-radius: 30px;
    transition: 0.3s ease;
   font-weight: 400;
  }
  .nav-item:hover  a   {
 
    border: 2px solid #009AD8;
   border-radius: 30px;
    color: #009AD8;
  }
  .navbar-nav .activee {
   border: 2px solid #009AD8;
   border-radius: 30px;
    color: #009AD8;
  }
  /* -------------end nav------------------ */
 #searchdiv{
   background-image: url(../photo/banner.png);
    text-align: center;
    padding: 70px 0;
   min-height: 350px;
  }
  
  #searchhh{
   position: relative;
  }

   
 #button{
   position: absolute;
   top: 5px;
   right: 5px;
   bottom: 5px;
   padding: 0 40px;
      background-color: #009AD8;
      color: white;
      border: none;
    

    }

    
   .displaybox{
          margin-top:  -150px; 
    }
    .displaybox2{
      background-color: #323544;
    }
  
   .headfont{
      font-size: 4.4285714286rem;
   }
   .head1{
      background-color: #2D303D;
      color: rgb(215, 215, 215);
     
      
   }
 
  
   .image{
      width: 120px;
   }
  ----------------footer----------------- 
 
   #footere{
      display: flex;
      justify-content: space-between;
     }

   .buttonFooter{
   padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: rgb(116, 116, 116);
  border-radius: 50px;
  border: 1px solid #1e202b;

  
    }
    .foterdiv{
      position: relative;
      margin-bottom: 30px;
      }
      .footer{
         display: flex;
         justify-content: space-between;
         background-color: #262936;
      }
 .subbuttn{
   background-color: #009AD8;
color: white;       
position: absolute;
right: 20px;
top: 5px;
bottom: 5px;
border: 1px  #009AD8; 
  }



 
.divFooter{
   width: 80%;
   display: flex;
   justify-content:center;
}
   .icons{
      transform: translateY(10%);
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      transition:all 0.5s ease;
      }
   .divIcon{
       border-radius: 50%;  
       color: #009ad8;
line-height: 2;
font-size: 1.4285714286em;
background: #1e202b;
text-align: center;
padding: 5px;
width: 40px;
    height: 40px;
   }
   .divIcon:hover{
      background-color: #009ad8;
      color: white;
   }
   .zoom:hover{
 background-color: #1f212b;
}
.zoom2:hover{
 background-color: #4B4E5B;  
}
